FUTURES_BOT_TOKEN=
FUNDING_BOT_TOKEN=
TELEGRAM_CHAT_ID=

GATE_API_KEY=
GATE_SECRET_KEY=

BYBIT_API_KEY=
BYBIT_SECRET_KEY=

MEXC_API_KEY=
MEXC_SECRET_KEY=

BINGX_API_KEY=
BINGX_SECRET_KEY=

OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=

KUCOIN_API_KEY=
KUCOIN_SECRET_KEY=
KUCOIN_PASSPHRASE=

BITGET_API_KEY=
BITGET_SECRET_KEY=
BITGET_PASSPHRASE=

BINANCE_API_KEY=
BINANCE_SECRET_KEY=
